.time {
    border: 1px solid black;
    border-radius: 5px;
    width: 20%;
    padding: 1%;
    margin: 1%;
    text-align: center;
    -webkit-transition-property: background;
    -webkit-transition-duration: 1s;
    -webkit-transition-timing-function: ease;
}
.time:hover {
    background-color: #61dafb;
}